.panel {
    background-color: #00A878;
    margin: 10pt;
    padding: 8pt;
}

nav {
    background-color: #FF6F59;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

nav ul li {
    list-style: none;
    padding: 8pt;
}

li a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

th{
    text-align: left;
    padding-right: 35px;
}

input{
    
    margin: 2px;

}
#OrderHistoryTabell{
    margin-top: 30px;
}